* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "AnonymousPro-Regular";
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

hr {
    border: 1px solid black;
}