@font-face {
    font-family: "AnonymousPro-Bold";
    src: url(/fonts/AnonymousPro-Bold.ttf);
}

@font-face {
    font-family: "AnonymousPro-Regular";
    src: url(/fonts/AnonymousPro-Regular.ttf);
}
