@import url(main.css);

/* CONTAINER */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

.header__inner {
    display: flex;
    justify-content: space-between;
    background-color: #EF9FA0;
    padding: 20px 10px;
    align-items: center;
}

.header__right {
    display: flex;
    gap: 150px;
    align-items: center;
}

.header__menu {
    display: flex;
    gap: 50px;
    font-size: 32px;
}

.header__menu-link {
    color: #000000;
    font-family: "AnonymousPro-Regular";
}

.header__buttons {
    display: flex;
    gap: 5px;
}

.header__buttons-button {
    border: none;
    font-size: 24px;
    font-family: "AnonymousPro-Bold";
    color: #FFFFFF;
    background-color: #000000;
    padding: 24px 5px;
    border-radius: 30px;
}

/* NEW-YEAR-DISCOUNT */

.new-year-discount {
    display: flex;
    justify-content: center;
    background-color: #006BF6;
}

.new-year-discount__link {
    color: #FFFFFF;
    padding: 43px 0px;
    font-size: 30px;
    font-family: "AnonymousPro-Regular";
}

/* ABOUT US */

.about-us {
    background-color: #FFFFF0;
}

.about-us__banner {
    padding-top: 40px;
}

.about-us__button-link {
    font-size: 36px;   
    color: #FFFFFF;
    font-family: "AnonymousPro-Bold";
    background: linear-gradient(to right, #171717, #383838);
    padding: 16px 26px;
    border-radius: 30px;
    position: relative;
    bottom: 215px;
    left: 150px;
}

/* ABOUT PLATFORM */

.about-platform {
    display: flex;
    flex-direction: column;
    background-color: #FFFFF0;
    
}

.platform-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.platform-top__icon1 {
    position: relative;
    right: 410px;
    top: 120px;
}

.platform-top__icon2 {
    position: relative;
    left: 415px;
    top: 188px;
}


.platform-top__h1 {
    background-color: #EF9FA0;
    width: 862px;
    height: 159px;
    border-radius: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 5px rgb(156, 156, 156);
}

.platform-top__button {
    position: relative;
    bottom: 30px;
    background-color: #000000;
    color: #FFFFFF;
    width: 281px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 5px 5px rgb(160, 160, 160);
    font-size: 26px;
    margin-bottom: 134px;
    font-family: "AnonymousPro-Bold";
}

.platform__menu {
    display: flex;
    gap: 106px;
}

.plaform__menu-item {
    background-color: #EF9FA0;
    width: 217px;
    height: 397px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgb(189, 189, 189);
}

.platform__menu-text1 {
    position: relative;
    bottom: 45px;
}

.platform__menu-img1 {
    position: relative;
    right: 20px;
    bottom: 20px;
    
}

.platform__menu-text2 {
    position: relative;
    bottom: 80px;
}

.platform__menu-img2 {
    position: relative;
    top: 40px;
    right: 40px;
    z-index: 2;
}

.platform__menu-text3 {
    position: relative;
    bottom: 180px;
}

.platform__menu-img3 {
    position: relative; 
    top: 30px;
    right: 10px;                          
}

.platform__menu-h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 56px;
    align-items: center;
}

.platform__p {
    text-align: center;
    font-size: 20px;
}

.platform__h1-h1 {
    padding-bottom: 45px;
}

.platform__h1-h2 {
    position: relative;  
    padding-bottom: 30px;
}

.platform__h1-h3 {
    padding-bottom: 55px;
}

/* TEACHERS */

.teachers {
    background-color: #FFFFF0;
}

.teachers__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 109px;
}

.teachers__h1-h1 {
    font-size: 36px;
    padding-top: 170px;
}

.teachers__menu {
    width: 900px;
    height: 500px;
    background-color: #E9967A;
    border-radius: 15px;
    margin-bottom: 192px;
    box-shadow: 0px 7px 7px #777777;
}

.teachers__menu-top {
    display: flex;
    justify-content: space-between;
}

.teachers__button {
    padding-left: 11px;
    padding-top: 15px;
}

.teachers__button-btn {
    border: none;
    border-radius: 80px;
    background-color: #E9967A;
}

.teachers__object {
    background-color: #1D1D1D;
    color: white;
    font-size: 30px;
    padding-top: 21px;
    padding-left: 14px;
    padding-right: 18px;
    padding-bottom: 10px;
    box-shadow: 0px 10px 10px rgb(53, 53, 53);
    border-radius: 0px 0px 0px 50px;
    margin-bottom: 20px;
}

.teachers__menu-bottom {
    display: flex;
}

.teachers__description {
    display: flex;
    flex-direction: column;
    gap: 65px;
    padding-left: 31px;
    padding-top: 44px;
}

.teachers__name {
    display: flex;
    align-items: center;
    gap: 24px;
}

.teachers__h1 {
    font-size: 36px;
    font-family: "AnonymousPro-Bold";
}

.teachers__h2 {
    font-family: "AnonymousPro-Bold";
    font-size: 36px;
}

.teachers__img {
    position: relative;
    margin-bottom: 100px;
    bottom: 43px;
    right: 100px;
}

.teachers__img2 {
    position: relative;
    left: 450px;
    bottom: 300px;

}

/* SCHEDULE */

.schedule {
    background-color: #94CDFF;
}

.schedule__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 116px;
    background-image: url(/img/schedule-bgd.svg);
}


.schedule__h1-h1 {
    font-size: 41.5px;
    font-family: "AnonymousPro-Regular";
    padding-top: 100px;
}

.schedule__menu {
    display: flex;
    gap: 90px;
    padding-top: 38px;
    padding-bottom: 56px;
}

.schedule__menu-button {
    width: 230px;
    height: 31px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
}

.schedule__button1 {
    background: linear-gradient(to right, #121212, #292929);
    color: #FFFFFF;
}

/* REVIEWS */

.reviews {
    background-color: #F0F8FF;
    
}

.reviews__inner {
    padding-top: 101px;
    background-image: url(/img/reviews__bgd.svg);
}

.reviews__h1 {
    font-size: 50px;
    padding-bottom: 50px;
    margin-left: 80px;
}

.reviews__menu {
    padding-left: 76px;
    padding-right: 61px;
    padding-bottom: 82px;
    display: flex;
    gap: 10px;

}

.reviews__menu-item {
    box-shadow: 0px 5px 7px #a0a0a0;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.reviews__menu-profile, .reviews__stars-and-data {
    display: flex;
}

.reviews__stars-and-data {
    gap: 5px;
}

.reviews__menu-profile {
    padding-top: 8px;
    padding-left: 11px;
    gap: 10px;
    align-items: center;
}

.reviews__menu-p {
    padding: 10px;
}

.reviews__menu-name--name {
    font-size: 20px;
}

.reviews__stars-and-data {
    font-size: 10px;
    color: #A4A4A4;
}

.reviews1 {
    width: 398px;
    height: 222px;
}

.reviews2 {
    width: 398px;
    height: 222px;
}

.reviews3 {
    width: 186px;
    height: 306px;
}

.reviews4 {
    width: 398px;
    height: 222px;;
}

.reviews5 {
    width: 186px;
    height: 306px;
}

.reviews6 {
    width: 199px;
    height: 540px;
}

.reviews__container1 {
    display: flex;
    gap: 10px;
}


.reviews__container2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.reviews__container3 {
    display: flex;
    gap: 10px;
}

.reviews__container4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviews__button-link {
    font-size: 28px;
    font-family: "AnonymousPro-Bold";
    color: #FFFFFF;
    background: linear-gradient(to right, #181818, #373737);
    border-radius: 30px;
    padding: 21px 71px;
}

/* TARRIFS */

.tariff {
    background-color: #FFFFF0;
}

.tariff__inner {
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 155px;
    padding-bottom: 161px;
    display: flex;
    gap: 109px;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/tariff-bgd.svg);
}

.tariff__h1-h1 {
    font-size: 41.5px;
}

.tariff__menu {
    display: flex;
    gap: 121px;
}

.tariff__item::marker {
    color: #FF0000;
    font-size: 24px;
}

.tariff__price {
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
}

.tarrif__button {
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 15px 65px;
    border-radius: 30px;
    font-size: 30px;
    margin-left: 25px;
    margin-top: 40px;
    font-family: "AnonymousPro-Bold";
}

.tarrif__menu-bottom {
    margin-top: 10px;
}

.tariff__standart {
    width: 282px;
    height: 619px;
    background-color: #202020;
    border-radius: 20px;
    z-index: 1;
    box-shadow: 0px 20px 7px rgb(202, 202, 202);
}

.tariff__standart-menu {
    display: flex;
    flex-direction: column;
}

.tariff__standart-p {
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 44px;
}

.tariff__standart-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 160px;
}

.tariff__standart-item {
    list-style-type: disc;
}

.tariff__price1 {
    padding-bottom: 30px;
}

.tariff__profile {
    width: 282px;
    height: 619px;
    background-color: #202020;
    border-radius: 20px;
    z-index: 1;
    box-shadow: 0px 20px 7px rgb(202, 202, 202);
}

.tariff__profile-menu {
    display: flex;
    flex-direction: column;
}

.tariff__profile-p {
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 44px;
}

.tariff__profile-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
    font-size: 16px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 85px;
}

.tariff__profile-item {
    list-style-type: disc;
}

.tariff__price2 {
    padding-bottom: 30px;
}

.tariff__premium {
    width: 282px;
    height: 619px;
    background: linear-gradient(#30003A, #7C00B2);
    border-radius: 20px;
    z-index: 1;
    box-shadow: 0px 20px 7px rgb(202, 202, 202);
}

.tariff__premium-menu {
    display: flex;
    flex-direction: column;
}

.tariff__premium-p {
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 44px;
}

.tariff__premium-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
    font-size: 16px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 90px;
}

.tariff__premium-item {
    list-style-type: disc;
}

.tariff__price3 {
    padding-bottom: 30px;
}

/* APPLICATIONS */

.application {
    background-color: #FFFFF0;
    display: flex;
    padding-bottom: 65px;
    z-index: -1;
}

.application-h1__main {
    display: flex;
    align-items: center;
    justify-content: end;
    
}

.application__h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: "AnonymousPro-Bold";
}

.application__img {
    display: flex;
    justify-content: end;
    position: relative;
    top: 50px;
    z-index: 0;
}

.form-application {
    position: relative;
    background: linear-gradient(to bottom left,#545454 10%, #1C1C1C 50%);
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 465px;
    border-radius: 10px;
    gap: 13px;
    padding-left: 23px;
    padding-top: 31px;
    box-shadow: 0px 10px 7px #919191;
    z-index: 1;
    
}

.form-application__name {
    display: flex;
    gap: 5px;
    align-items: end;
}

.name-input {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.name-input__p {
    color: #FFFFFF;
    font-size: 16px;
}

#name {
    width: 377px;
    height: 39px;
    border-radius: 10px;
    border: none;
}

.form-application__phone {
    display: flex;
    padding-left: 7px;
    gap: 10px;
    align-items: center;
}

.phone-input {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.phone-input__p {
    color: #FFFFFF;
    font-size: 16px;
}

#phone {
    width: 377px;
    height: 39px;
    border-radius: 10px;
    border: none;
}

.form-application__email {
    display: flex;
    padding-left: 6px;
    gap: 10px;
    align-items: center;
}

.email-input {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.email-input__p {
    color: white;
    font-size: 16px;
}

#email {
    width: 377px;
    height: 39px;
    border-radius: 10px;
    border: none;
}

.form-application__approval {
    display: flex;
    gap: 10px;
    align-items: start;
    padding-left: 45px;
    
}

.form-application__approval-input {
    accent-color: white;
    
}

.form__input {
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    font-family: "AnonymousPro-Regular";
}

.form-application__approval-input::before {
    background-color: orange;
}


.form-application__approval-p {
    color: #FFFFFF;
    font-size: 16px;
}

.form-application__submit {
    display: flex;
    justify-content: center;
}


.form-application__submit-input {
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    width: 224px;
    height: 85px;
    font-size: 30px;
    font-family: "AnonymousPro-Bold";
    margin-top: 40px;
}

.application-img {
    padding-top: 25px;
}

/* QUESTIONS */

.questions {
    background-color: #F0F8FF;
    padding-top: 40px;
    padding-bottom: 130px;
    display: flex;
    justify-content: center;
}

.questions__h1 {
    font-size: 50px;
    font-family: "AnonymousPro-Bold";
    text-align: center;
    padding-bottom: 41px;
}

.questions__menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.faq-question {
    width: 900px;
    height: 60px;
    text-align: start;
    border: none;
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(to right, #0E0E0E, #232323);
    color: #FFFFFF;
    font-size: 20px;
    padding-left: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.faq-answer {
    background-color: #BFBFBF;
    width: 900px;
    height: 161px;
    padding-left: 38px;
    padding-top: 17px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 12px;
    font-size: 20px;
    padding-bottom: 30px;
    overflow: hidden;
}

/* FOOTER */

.footer {
    background-color: #EF9FA0;
    padding-top: 88px;
    padding-bottom: 65px;
}

.container2 {
    max-width: 961px;
    margin: 0 auto;
}

.footer__top {
    display: flex;
    gap: 37px;
    margin: 0 25px;
    padding-bottom: 109px;
}

.footer__contacts {
    padding-right: 9px;
}

.footer__contacts-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.footer__contacts-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.footer__email {
    text-decoration: underline;
}

.footer__contacts-item--phone {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 2px;
    font-size: 12px;
}

.footer__useful-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 12px;
}

.footer__useful-menu2 {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-top: 5px;
}

.footer__social-media--menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 12px;
}

.footer__button {
    background-color: black;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 16px 27px;
    margin-top: 50px;
    box-shadow: 0px 4px 4px black;
}

.footer__button-link { 
    color: #FFFFFF;
    font-size: 20px;
    font-family: "AnonymousPro-Bold";
}

.footer__bottom-text {
    font-size: 12px;
    margin-left: 5px;
    padding-top: 5px;
}

.footer__menu--big {
    font-size: 16px;
}

.header__menu-link:hover {
    border-bottom: 2px solid #000000;
}

.header__buttons-button:hover  {
    background-color: rgb(27, 27, 27);
}

.teachers__object:hover {
    background-color: rgb(49, 49, 49);
}

.new-year-discount:hover {
    background-color: #014fb4;
}

.about-us__button-link:hover, .platform-top__button:hover, .reviews__button-link:hover, .faq-question:hover, .footer__button:hover, .about-us__button-link:hover {
    background: linear-gradient(to right, rgb(27, 27, 27), rgb(27, 27, 27));
}

.platform-top__h1:hover, .plaform__menu-item:hover {
    background-color: #d18f90;
}

.tarrif__button:hover {
    background-color: rgb(194, 0, 0);
}

.schedule__menu-button:hover {
    background-color: rgb(196, 196, 196);
}

.form-application__submit-input:hover {
    background-color: rgb(194, 0, 0);
}


.new-year-discount__link {
    animation-name: ad;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes ad {
    25% {
        margin-right: 500px;
    }

    60% {
        margin-left: 500px;
    }
}

.footer__useful-link:hover, .footer__email:hover {
    color: rgb(94, 94, 94);
}

.about-us__banner-img {
    animation-name: banner;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.about-us__button {
    animation-name: banner;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes banner {
    0% {
        opacity: 0;
        transform: translateY(50px) scale(0.95);
    }

    70% {
        opacity: 0.8;
        transform: translateY(-10px) scale(1.02); /* Лёгкий "отскок" */
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
      
    }
}
